@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Quintessential&display=swap');
@import "tailwindcss";
@plugin "daisyui";

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-style: normal;
}

body {
  font-family: "Poppins", sans-serif;
}